* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #022538;
}

.text-shadow {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

/* --- Nav Bar --- */

nav .brand-logo {
    margin-left: 25px;
    color: #fcbf49;
}

nav ul {
    margin-right: 25px;
}

nav ul a {
    color: #fcbf49;
    font-size: 20px;
}

nav.custom-bg {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

/* --- Buttons --- */

.btn-small {
    margin: 15px;
    border-radius: 5px;
}

.btn-add {
    background-color: #03537e;
}

.btn-edit,
.btn-cancel {
    background-color: #fcbf49;
    color: black;
}

.btn-delete {
    background-color: rgb(207, 4, 4);
}

.btn-small:hover{
    background-color: black;
    color: #fcbf49;
}

/* --- Home Page --- */

.home-bg{
    margin-top: 40px;
    background-image: url("../images/hero-img4.jpeg");
    background-size: 100% 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    height: 300px;
}

.video-container{
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 5px rgba(248, 246, 246, 0.5);
}


/* --- Add-Movie Page --- */

.add-movie-card {
    background-color: #fcbf49;
}

/* --- Star Rating --- */

label,
.rating-stars p {
    margin-bottom: 0;
}
input[name=rating] {
    display: none;
  }
.rating-stars label {
    font-size: 20px;
    color: #d62828;
  }
.rating-stars input:checked~label {
    color: white ;
  }


/* --- Movie Review Page ---*/

.movie-img-container img{
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

hr {
    width: 40%;
    border: none;
    border-bottom: 3px solid #d62828;
    padding: 20px;
}

.search-bar{
    margin-bottom: 0;
}

.search-card{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,.7)),
    url("../images/search-img.jpeg") center center;
    border-radius: 10px;
    margin-top: 35px;
    color: white;
}

.search-card input{
    color: white;
}

.movie-header{
    padding-top: 25px;
}

.movie-card{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* --- Profile page --- */

.profile-card{
    border-radius: 5px;
    background-color: #fcbf49;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
}

/* --- Media Query --- */

@media screen and (max-width: 992px){
nav .brand-logo{
    margin-left: 0;
    }
}

