/* --- Fonts imported from google fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&display=swap');

*{    
    padding:0;
    border:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body{
    min-height: 100vh;
    background-color: #022538;
    font-family: ubuntu, sans-serif;
}

.text-shadow {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

/* --- Headings --- */

h1,
h2,
h3,
h4 {
    font-family: "bebas neue", sans-serif;
    color:rgb(182, 181, 181);
}

.username {
    color: black;
}

.movie-title {
    font-family: ubuntu, sans-serif;
}

/* --- Nav Bar --- */

nav .brand-logo {
    margin-left: 25px;
    color: #fcbf49;
}

nav ul {
    margin-right: 25px;
}

nav ul a {
    color: #fcbf49;
    font-size: 20px;
}

nav.custom-bg {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.sidenav{
    background-color: #022538;
    color: white;
}

.sidenav li a{
    color: #fcbf49;
    font-size: 18px;
}

/* --- Footer */

.social-networks li {
    display: inline;
  }

.social-networks i {
    font-size: 25px;
    padding: 3px;
    margin: 5px;
    color: #022538;
  }

.social-networks i:hover{
    color: #fcbf49;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.page-footer {
    background-color: #616060;
    margin-top: 30px;
    color: #022538;
}

.page-footer p {
    color: #022538;
}

/* --- Buttons --- */

.btn-small {
    margin: 10px;
    border-radius: 5px;
}

.btn-large {
    border-radius: 5px;
}

.btn-large:hover {
    background-color: rgb(97, 96, 96);
}

.btn-add,
.btn-review,
.btn-large {
    background-color: #03537e;
}

.btn-edit,
.btn-cancel {
    background-color: #fcbf49;
    color: black;
}

.btn-delete {
    background-color: #ad0707;
}

.btn-small:hover{
    background-color: rgb(97, 96, 96);
    color: #fcbf49;
}

.btn-small,
.btn-delete,
.btn-edit :hover{
    color: #fcbf49;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

/* --- Flash messages --- */
.flash-card{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 3px;
    border-radius: 15px;
    background-color: #ad0707;
    box-shadow: 0px 0px 10px 5px rgba(248, 246, 246, 0.5);
}

/* --- Modal --- */

.modal {
    background-color: #03537e;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(248, 246, 246, 0.5);
    color: white
}

.modal .modal-footer {
    background-color: #03537e;
}



/* --- Home Page --- */

.home-bg{
    margin-top: 40px;
    /*background-image: url("../images/hero-img2.jpeg");*/
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,.2)),
    url("../images/hero-img1.jpeg") center center;
    background-size: 100% 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 20px 5px rgba(236, 234, 234, 0.5);
    height: 250px;
}

.video-container{
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 5px rgba(248, 246, 246, 0.5);
}

.home-text {
    color: #d3ab78;
}


/* --- Add/Edit-Movie Page --- */

.add-movie-card,
.edit-movie-card {
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px rgba(139, 139, 139, 0.5);
}

.input-field label {
    color: black;
}

/* Star Rating */

label,
.rating-stars p {
    margin-bottom: 0;
}
input[name=rating] {
    display: none;
  }
.rating-stars label {
    font-size: 20px;
    color: #ad0707;
  }
.rating-stars input:checked~label {
    color: rgb(182, 181, 181) ;
  }

/* --- Movie Review Page ---*/

.movie-img-container img{
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

hr {
    width: 40%;
    border: none;
    border-bottom: 3px solid #ad0707;
    padding: 20px;
}

.search-bar{
    margin-bottom: 0;
}

.search-card{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,.7)),
    url("../images/search-img.jpeg") center center;
    border-radius: 10px;
    margin-top: 35px;
    color: white;
}

.search-card input{
    color: white;
}

.movie-header{
    padding-top: 25px;
    color: rgb(182, 181, 181);
}

.movie-card{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #ad0707;
}

.movie-text p {
    font-size: 15px;
}

.movie-text strong{
    color: #d3ab78;
    font-size: 16px;
}

/* --- Profile page --- */

.profile-card{
    border-radius: 5px;
    background-color: #fcbf49;
    box-shadow: 0px 0px 10px 5px rgba(248, 246, 246, 0.5);
    margin-top: 40px;
}

/* --- login/register Page --- */

.login-card,
.register-card {
    background-color: #78909c;
    border-radius: 5px;
}

/* --- Manage Genre Page --- */

.genre-card {
    background-color: #03537e;
    border-radius: 10px;
}

.genre-add,
.genre-edit {
    background-color: #78909c;
}

/* --- Error Pages --- */

.error-text {
    font-size: 18px;
}

/* --- Media Query --- */

@media screen and (max-width: 992px){
nav .brand-logo{
    margin-left: 0;
    font-size: 1.8rem;
    }

.flash-card{
    width: 80%;
    }
}
