{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Movie Genre</h3>

    <div class="row">
        <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('add_category') }}">
            <div class="card-panel genre-add">
                <!-- Genre Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix"></i>
                        <input id="caetgory_name" name="category_name" minlength="3" 
                            maxlength="25" type="text" class="validate" required>
                        <label for="category_name">Genre Name</label>
                    </div>
                </div>
               <!-- Submit Button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_categories') }}" 
                            class="btn-small btn-delete">Cancel</a> 
                        <button type="submit" class="btn-small btn-add text-shadow">
                            Add Genre
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}