{% extends "base.html" %}
{% block content %}

    <h3 class="center-align grey-text text-shadow">Edit Movie Information</h3>

    <div class="row">
        <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('edit_movie', movie_id=movie._id) }}">
            <div class="card-panel blue-grey lighten-1 edit-movie-card">
                <!-- Choose Movie Genre-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled>Movie Genre</option>
                            {% for category in categories %}
                                {% if category.category_name == movie.category_name %}
                                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                {% else %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="category_name">Movie Genre</label>
                    </div>
                </div>
                <!-- Movie Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-video prefix"></i>
                        <input id="movie_name" name="movie_name" minlength="5" 
                            maxlength="50" value ="{{ movie.movie_name }}" type="text" class="validate" required>
                        <label for="movie_name">Movie Name</label>
                    </div>
                </div>
                <!-- Movie Description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix"></i>
                        <textarea id="movie_description" name="movie_description" minlength="5" 
                            maxlength="500" class="materialize-textarea validate" rows="5" required>
                            {{- movie.movie_description -}}
                        </textarea>
                        <label for="movie_description">Movie Synopsis</label>
                    </div>
                </div>
                <!-- Movie Review -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-star prefix"></i>
                        <textarea id="movie_review" name="movie_review" minlength="5" 
                            maxlength="300" class="materialize-textarea validate" rows="5" required>
                            {{- movie.movie_review -}}
                        </textarea>
                        <label for="movie_review">Movie Review</label>
                    </div>
                </div>
                <!-- Add Image url-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-image prefix form-icon"></i>
                        <input type="url" id="image_url" name="image_url" value="{{ movie.image_url }}" class="validate" 
                            pattern="https?://.+">
                        <label for="image_url">Insert new image URL <em>*Optional*</em></label>
                    </div>
                </div>
                <!-- Add star rating
                     code inspired from https://www.youtube.com/watch?v=Ep78KjstQuw&t=208s -->
                <div role="radiogroup" class="rating-stars">
                    <p>Rate book: </p>
                    <label for="rating" tabindex="0" aria-label="1 star"><i class="fas fa-star"></i></label>
                    <input id="rating" aria-checked="false" type="radio" name="rating" value="1" checked>
                    <label for="rating1" tabindex="0" aria-label="2 stars"><i class="fas fa-star"></i></label>
                    <input id="rating1" aria-checked="false" type="radio" name="rating" value="2">
                    <label for="rating2" tabindex="0" aria-label="3 stars"><i class="fas fa-star"></i></label>
                    <input id="rating2" aria-checked="true" type="radio" name="rating" value="3">
                    <label for="rating3" tabindex="0" aria-label="4 stars"><i class="fas fa-star"></i></label>
                    <input id="rating3" aria-checked="false" type="radio" name="rating" value="4">
                    <label for="rating4" tabindex="0" aria-label="5 stars"><i class="fas fa-star"></i></label>
                    <input id="rating4" aria-checked="false" type="radio" name="rating" value="5">
                </div>
               <!-- Submit Button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-small btn-add text-shadow">
                            Confirm Edit
                        </button>
                    </div>
                    <div class="col s12 center-align">
                        <!-- Links back to users profile -->
                        <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small btn-delete text-shadow">
                            Cancel Changes
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}