{% extends "base.html" %}
{% block content %}

    <!-- Hero image and text -->
    <div class="row">
        <div class="col s12">
            <div class="card-panel home-bg">
                <h1 class="center-align text-shadow">
                    Love The Big Screen? 
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m10 offset-m1 center-align">
            <h5 class="home-text text-shadow">Movie Catalog is the place for all movie lovers to share their favourites, 
                give reviews and find great classics added by others.
            </h5>
            <h6 class ="home-text text-shadow">
                Simply create a profile to add your movies and keep all your favourites in one place!
            </h6>
        </div>
    </div>

    <h3 class="center-align text-shadow">
        The Movie Everyone's Talking About...
    </h3>

    <!-- embedded code from youtube to display movie trailer -->
    <section>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BIhNsAtPbPI" 
                    title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- Allows user to either login/register or add a movie if already signed in-->
    <div class="row">
        <div class="col s12 center-align">
            {% if session.user %}
            <div class="center-align">
                <a href="{{ url_for('add_movie') }}" class="btn btn-small btn-add hover">
                    Add a Movie</a>
            </div>
            {% else %}
            <h4>Log in to your account to add your own movies to the catalog</h4>
            <a href="{{ url_for('login') }}" class="btn btn-small btn-add hover">
                Login</a>
            <h6 class="white-text">Not yet got an account?</h6>
            <a href="{{ url_for('register') }}" class="btn btn-small btn-add hover">Register</a>
            {% endif %}
        </div>
    </div>
{% endblock %}