{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card-panel home-bg">
                <h3 class="center-align">
                    Love Movies? 
                </h3>
                <h6 class="center-align white-text">
                    Share it here for all to see by adding reviews for all your favourite <em>(or least favourite)</em> movies!  
                </h6>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 center-align">
            <p class="white-text text-shadow">Simply create an account to add your reviews.<br> Or use it to find reviews added by other movie lovers.
            </p>
        </div>
    </div>

    <h3 class="center-align text-shadow">
        The Movie Everyone's Talking About...
    </h3>

    <section>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BIhNsAtPbPI" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col s12 center-align">
            {% if session.user %}
            <div class="center-align">
                <a href="{{ url_for('add_movie') }}" class="btn btn-small btn-add hover">
                    Add a Movie Review</a>
            </div>
            {% else %}
            <h4>Log in to your account to add your own movie reviews</h4>
            <a href="{{ url_for('login') }}" class="btn btn-small btn-add hover">
                Login</a>
            <h6 class="white-text">Not yet registered an account?</h6>
            <a href="{{ url_for('register') }}" class="btn btn-small btn-add hover">Register</a>
            {% endif %}
        </div>
    </div>
{% endblock %}