{% extends "base.html" %}
{% block content %}

    <!-- {% for movie in movies %}
        {{ movie.movie_name }}<br>
        {{ movie.category_name }}<br>
        {{ movie.movie_description }}<br>
        {{ movie.rating}}
    {% endfor %} -->

    <ul class="collapsible">
        {% for movie in movies %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-caret-down"></i>
                <strong>{{ movie.movie_name }}</strong>
            </div>
            <div class="collapsible-body white-text text-shadow">
                <strong>{{ movie.category_name }}</strong>
                <p>{{ movie.movie_description }}</p>
                <p>{{ movie.movie_review }}</p>
                <p>Rating: {{ movie.rating}}/5</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}