{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Movie Reviews</h3>

    <!-- If user is logged in display add Movie review button -->
    {% if session.user %}
    <div class="row center-align">
        <div class="col-10 offset-1 col-md-4 offset-md-4">
            <a href="{{ url_for('add_movie') }}" class="btn btn-lg hover">
            <i class="fas fa-plus" aria-hidden="true"></i> Add a Movie Review</a>
        </div>
    </div>
    {% endif %}

    {% for movie in movies %}
    
    <div class="row">
        <div class="col s12 center-align">
            <h3>{{ movie.movie_name.title() }}</h3>
        </div>
        <div class="movie-img-container col s12 m6 center-align">
            <!-- If Movie review has image supplied display this-->
            {% if movie.image_url %}
        
            <img width="250" height="375" src="{{ movie.image_url }}" alt="Image of the movie being reviewed">
            
            <!-- If no image url supplied display this default image -->
            {% else %}
            <img width="200" height="300" src="static/images/default-img.jpeg" 
                alt="Image of an old camera reel">
            {% endif %}
        </div>

        <div class="white-text text-shadow col s12 m6 center-align">
            <p><strong>Movie Genre:</strong> {{ movie.category_name }}</p>
            <p><strong>Movie Synopsis:</strong> {{ movie.movie_description }}</p>           
            <p><strong> Movie Review:</strong> {{ movie.movie_review }}</p>
            <p><strong>Review added by:</strong> <em>{{ movie.added_by }}</em></p>
        </div>        
    </div>
    <hr>
    
    {% endfor %}

{% endblock %}