{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Movie Reviews</h3>

    <!-- If user is logged in display add Movie review button -->
    {% if session.user %}
    <div class="row center-align">
        <div class="col-10 offset-1 col-md-4 offset-md-4">
            <a href="{{ url_for('add_movie') }}" class="btn btn-lg hover">
            <i class="fas fa-plus" aria-hidden="true"></i> Add a Movie Review</a>
        </div>
    </div>
    <hr>
    {% endif %}

    {% for movie in movies %}
    
    <div class="row">
        <div class="col s12 center-align">
            <h3>{{ movie.movie_name.title() }}</h3>
        </div>
        <div class="movie-img-container col s12 m6 center-align">
            <!-- If Movie review has image supplied display this-->
            {% if movie.image_url %}
        
            <img width="300" height="450" src="{{ movie.image_url }}" alt="Image of the movie being reviewed">
            
            <!-- If no image url supplied display this default image -->
            {% else %}
            <img width="200" height="300" src="static/images/default-img.jpeg" 
                alt="Image of an old camera reel">
            {% endif %}
        </div>

        <div class="white-text text-shadow col s12 m6 center-align">
            <p><strong>Movie Genre:</strong> {{ movie.category_name }}</p>
            <p><strong>Movie Synopsis:</strong> {{ movie.movie_description }}</p>           
            <p><strong> Movie Review:</strong> {{ movie.movie_review }}</p>
            <p><strong>Review added by:</strong> <em>{{ movie.added_by }}</em></p>
        </div>
        <div class="col s12 center-align">
            {% if session.user|lower == movie.added_by|lower %}
                <!-- Modal link to give user the option to cancel deleting their review-->
                <a class="waves-effect waves-light btn-small modal-trigger" href="#modal1">Delete Review</a>
                <!-- Modal Body -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h3>You sure you want to do that?</h3>
                        <h4>Unlike Arnie, it will not be back!</h4>
                        <p>Do you definitely want to delete your review for {{ movie.movie_name }}?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-small">Cancel</a>
                        <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" class="btn-small green accent-4 center-align">Delete Review</a>
                    </div>
                </div>
            
                <a href="{{ url_for('edit_movie', movie_id=movie._id) }}" 
                    class="btn-small light-blue lighten-1">Edit Review</a>
            {% endif %}
        </div>
        
    </div>
    <hr>
    
    {% endfor %}

{% endblock %}