{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m10 xl8 offset-m1 offset-xl2">
            <div class="card-panel profile-card">
                <h3 class="center-align">
                    {{ username.capitalize() }}'s Profile
                </h3>
                <div class="center-align">
                    <a href="{{ url_for('add_movie') }}" class="btn btn-small btn-add hover">
                        Add a Movie Review</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="center-align">
        My reviews
    </h2>

    <!-- display users own reviews on their profile page-->
    
    
    <div class="row">
    {% for movie in movies %}
        <div class="col s12 m4 center-align">
            <h3>{{ movie.movie_name.title() }}</h3>
            
            <div class="movie-img-container center-align">
                <!-- If Movie review has image supplied display this-->
                {% if movie.image_url %}
                    <img width="200" height="300" src="{{ movie.image_url }}" 
                        alt="Image of the movie being reviewed">
                <!-- If no image url supplied display this default image -->
                {% else %}
                    <img width="200" height="300" src="static/images/default-img.jpeg" 
                        alt="Image of an old camera reel">
                {% endif %}
            </div>
            
            <div class="center-align">
                {% if session.user|lower == movie.added_by|lower %}
                    <a href="{{ url_for('edit_movie', movie_id=movie._id) }}" 
                        class="btn-small btn-edit">Edit Review</a>
                    <!-- Modal link to give user the option to cancel deleting their review-->
                    <a class="btn-small btn-delete modal-trigger" href="#modal1">Delete Review</a>
                    <!-- Modal Body -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h3>You sure you want to do that?</h3>
                            <h4>Unlike Arnie, it will not be back!</h4>
                            <p>Do you definitely want to delete your review for {{ movie.movie_name }}?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close btn-cancel btn-small">Cancel</a>
                            <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" class="btn-small btn-delete center-align">Delete Review</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="center-align">
        <a href="{{ url_for('delete_user') }}" class="btn btn-sm delete-btn hover">Delete <i
            class="fas fa-trash-alt" aria-hidden="true"></i></a>
    </div>

{% endblock %}