{% extends "base.html" %}
{% block content %}

        <div class="row">
            <div class="center-align">
                <h3>{{ review.movie_name }}</h3>
            </div>
            <div class="movie-img-container col s12 m6 center-align">
                <!-- If Movie review has image supplied display this-->
                {% if review.image_url %}
            
                <a href="{{ url_for('movies') }}"><img width="250" height="375" src="{{ review.image_url }}" alt="Image of the movie being reviewed"></a>
                
                <!-- If no image url supplied display this default image -->
                {% else %}
                <img width="250" height="375" src="/static/images/default-img.jpeg" 
                    alt="Image of an old camera reel">
                {% endif %}
            </div>

            <div class="movie-text white-text text-shadow col s12 m6 center-align">
                <p><strong>Movie Genre:</strong> {{ review.category_name }}</p>
                <p><strong>Movie Synopsis:</strong> {{ review.movie_description }}</p>           
                <p><strong> Movie Review:</strong> {{ review.movie_review }}</p>
                <p><strong>Movie added by:</strong> <em>{{ review.added_by }}</em></p>
                <p><strong>Rating: </strong>{{ review.rating }}/5</p>
            </div>        
        </div>
        <hr>

        <!-- Allows admin to delete review -->
        <div class="row">
            <div class="col s12 center-align">
                <!-- Modal link to give Admin the option to cancel deleting the movie-->
                {% if session.user|lower == "admin"|lower %}
                    <a class="btn-small btn-delete modal-trigger" 
                    href="#{{ url_for('delete_movie', movie_id=review._id) }}">Delete Movie</a>
                {% endif %}
            </div>
        </div>
        <!-- Modal Body -->
        <div id="{{ url_for('delete_movie', movie_id=review._id) }}" class="modal">
            <div class="modal-content center-align">
                <h3>You sure you want to do that?</h3>
                <h6>Do you definitely want to delete the movie {{ review.movie_name }}?</h6>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close black-text btn-cancel btn-small">Cancel</a>
                <a href="{{ url_for('delete_movie', movie_id=review._id) }}" class="btn-small btn-delete center-align">Delete Movie</a>
            </div>
        </div>

        <!-- Takes user back to movie page -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('movies') }}" class="btn btn-add btn-small">Back to movies</a>
            </div>
        </div>
        
{% endblock %}